.sell-content {
    max-width: 1230px;
    padding: 10px;
    margin: 0 auto;
}

.sell-content {
    margin: 0 auto;
    width: 40%;
}

.sell-item__title h2 {
    text-align: center;
}




/* 商品画像 */
.sell-item__img-title {
    font-weight: bold;
}

.sell-item__img-select-btn {
    display: flex;
    align-items: center;
    padding-left: 150px;
    height: 110px;
    border: 1px dotted #000;
    border-radius: 3px;
}

.sell-item__img-select-btn label {
    margin-left: 20px;
    border: 1.5px solid #ff5555;
    border-radius: 5px;
    padding: 5px 10px;
    height: 40px;
    cursor: pointer;
    color: #ff5555;
    font-weight: bold;
}

.sell-item-input {
    display: none;
}

.preview-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.preview-area img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    font-weight: bold;
}



/* カテゴリー */
.sell-item__category-title p {
    font-weight: bold;
}

.sell-item__category label {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    border: 1.5px solid #ff5555;
    border-radius: 15px;
    padding: 0 10px;
    margin: 13px 5px;
    color: #ff5555;
    font-size: 12px;
    cursor: pointer;
}

.category-checkbox {
    display: none
}

.category-checkbox:checked + .category-label {
    background-color: #ff5555;
    color: #fff;
}

/* 商品の詳細 */
.sell-item__detail {
    border-bottom: 1px solid #5f5f5f;
}

.sell-item__detail h3 {
    color: #5f5f5f;
    margin: 50px 0 5px 0;
}



/* 商品の状態 */
.sell-item__status-title p {
    font-weight: bold;
    margin: 25px 0 5px 0;
}

.sell-item__status {
    height: 40px;
}

.custom-select {
    width: 100%;
    height: 100%;
    padding: 5px;
    color: #5f5f5f;
    background-color: #fff;
    outline: none;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    cursor: pointer;
}

.custom-select:focus {
    background-color: #636769;
    border: 2px solid #b1b1b1;
    color: #fff;
}

.custom-select.selected {
    color: #5f5f5f;
    background-color: #fff;
    border: 1px solid #5f5f5f;
}

/* 商品名と説明 */
.sell-item__name-explain-title {
    margin: 40px 0 0 0;
    border-bottom: 1px solid #5f5f5f;
}

.sell-item__name-explain-title h3 {
    color: #5f5f5f;
    margin: 10px 0 5px 0;
}


/* 商品名 */
.sell-item__name-title p {
    font-weight: bold;
    margin: 25px 0 5px 0;
}

.sell-item__name-input {
    height: 40px;
}

/* ブランド名 */
.sell-item__brand-name-title p {
    font-weight: bold;
    margin: 25px 0 5px 0;
}

.sell-item__brand-name-input {
    height: 40px;
}


/* 商品の説明 */
.sell-item__explain-title p {
    font-weight: bold;
    margin: 25px 0 5px 0;
}

.sell-item__explain-textarea {
    height: 100px;
}


/* 販売価格 */
.sell-item__price-title p {
    font-weight: bold;
    margin: 25px 0 5px 0;
}

.sell-item__price-input {
    height: 40px;
}

.sell-item__price-input input {
    font-weight: bold;
    font-size: 20px;
}


/* input・textarea共通 */
.sell-item__explain-textarea textarea,
.sell-item__brand-name-input input,
.sell-item__name-input input,
.sell-item__price-input input {
    width: 100%;
    height: 100%;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    outline: none;
}


/* 出品ボタン */
.sell-item__btn {
    width: 100%;
    height: 40px;
    margin: 35px 0;
}

.sell-item__btn-submit {
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

