.sell-content {
    max-width: 1230px;
    padding: 10px;
    margin: 0 auto;
}

.sell-content {
    margin: 0 auto;
    width: 40%;
}

.sell-item__title h2 {
    text-align: center;
}


/* 商品画像 */
.sell-item__img-title {
    font-weight: bold;
}


/* 商品の詳細 */
.sell-item__detail {
    border-bottom: 1px solid #5f5f5f;
}

.sell-item__detail h3 {
    color: #5f5f5f;
    margin: 40px 0 5px 0;
}



/* 商品の状態 */
.sell-item__status-title p {
    font-weight: bold;
    margin: 10px 0 0 0;
}

.sell-item__status {
    height: 40px;
}

.sell-item__status select {
    width: 100%;
    height: 100%;
    padding: 5px;
    color: #5f5f5f;
    outline: none;
    border: 1px solid #5f5f5f;
}


/* 商品名と説明 */
.sell-item__name-explain-title {
    margin: 40px 0 0 0;
    border-bottom: 1px solid #5f5f5f;
}

.sell-item__name-explain-title h3 {
    color: #5f5f5f;
    margin: 10px 0 5px 0;
}


/* 商品名 */
.sell-item__name-title p {
    font-weight: bold;
    margin: 20px 0 5px 0;
}

.sell-item__name-input {
    height: 40px;
}

/* ブランド名 */
.sell-item__brand-name-title p {
    font-weight: bold;
    margin: 20px 0 5px 0;
}

.sell-item__brand-name-input {
    height: 40px;
}


/* 商品の説明 */
.sell-item__explain-title p {
    font-weight: bold;
    margin: 20px 0 5px 0;
}

.sell-item__explain-textarea {
    height: 100px;
}


/* 販売価格 */
.sell-item__price-title p {
    font-weight: bold;
    margin: 20px 0 5px 0;
}

.sell-item__price-input {
    height: 40px;
}


/* input・textarea共通 */
.sell-item__explain-textarea textarea,
.sell-item__brand-name-input input,
.sell-item__name-input input,
.sell-item__price-input input {
    width: 100%;
    height: 100%;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    outline: none;
}


/* 出品ボタン */
.sell-item__btn {
    width: 100%;
    height: 40px;
    margin: 35px 0;
}

.sell-item__btn-submit {
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

