

/* オススメとマイリスト */
.items-content__link {
    display: flex;
    padding: 30px 5px 5px 80px;
    border-bottom: 1.5px solid #646464;
}

.items-content__link-item {
    text-decoration: none;
    cursor: pointer;
    color: #5f5f5f;
    font-weight: bold;
}

.items-content__link-item:hover {
    color: #ff0000;
}

.items-content__link-item:first-of-type {
    margin-right: 50px;
}



.items-img__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item-card {
    width: calc(25% - 20px);
    text-decoration: none;
    border: 1px solid #eee;
    background: #fff;
    overflow: hidden; 
    transition: transform 0.1 ease;
}

/* マウスを乗せた時に 1.03 倍に “ふわっ” と拡大 */
.item-card:hover {
    transform: scale(1.03);
}

.item-card__image-wrap {
    width: 100%;
    height: 180px;
    overflow: hidden; /* はみ出した部分を隠す */
}

.item-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 中央をキレイに切り取る */
}