

/* オススメとマイリストボタン */
.items-content__link {
    display: flex;
    padding: 30px 5px 5px 80px;
    border-bottom: 1.5px solid #646464;
}

.items-content__link-item {
    text-decoration: none;
    cursor: pointer;
    color: #5f5f5f;
    font-weight: bold;
}

.items-content__link-item:hover {
    color: #ff0000;
}

.items-content__link-item:first-of-type {
    margin-right: 50px;
}


