/* オススメとマイリストボタン /?tab=mylist */
.items-content__link {
    display: flex;
    padding: 30px 5px 5px 80px;
    border-bottom: 1.5px solid #646464;
}

.items-content__link-item {
    text-decoration: none;
    cursor: pointer;
    color: #5f5f5f;
    font-weight: bold;
}

.items-content__link-item:hover {
    color: #ff0000;
}

.items-content__link-item:first-of-type {
    margin-right: 50px;
}




.sell-item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sell-item-card {
    width: calc(25% - 20px);
    list-style: none;
}


/* 画像 */
.sell-item-card img {
    width: 100%;
    aspect-ratio: 1 / 1; /* サイズを正方形に揃える */
    object-fit: cover; /* 画像が伸びる・潰れる対策 */
    border: none;
}


/* マウスを乗せた時に 1.03 倍に “ふわっ” と拡大 */
.sell-item-card:hover {
    transform: scale(1.03);
}