.show-content {
    max-width: 1230px;
    padding: 10px;
    margin: 0 auto;
}

.show-content__item {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
}



/* 商品画像（左半分） */
.show-content__item-img {
    width: 50%;
    margin: 50px;
    position: relative;
    overflow: hidden; /* はみ出した部分をカット */
}

.sold-badge {
    position: absolute;
    top: 16px;
    left: -40px;
    width: 160px;
    text-align: center;

    background: red;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 6px 0;

    transform: rotate(-45deg);
    z-index: 10;

}

.show-content__item-img img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}




/* 商品の詳細(右半分) */
.show-content__form {
    width: 50%;
    padding: 0 50px;
}

.item-detail {
    width: 100%;
}



/* 商品名 */
.item-detail__title h1 {
    margin: 30px 0 0 0;
}

.item-detail__brand p {
    margin: 0;
    font-size: 10px;
}


/* 金額 */
.item-detail__price p {
    margin: 5px 0 0 0;
}

.price {
    font-size: 30px;
}


/* いいね・コメントロゴ */
.item-detail__heart-comment {
    margin: 5px 0 10px 20px;
    gap: 20px;
    display: flex;
}

.item-detail__heart-btn {
    background: #fff;
    border: none;
}

.item-detail__heart-btn img {
    width: 30px;
}

.item-detail__heart p {
    margin: 0 18px;
}


.item-detail__comment-logo img {
    width: 30px;
}

.item-detail__comment p {
    margin: 0 10px;
}


/* 商品説明 */
.item-detail__explain {
    margin: 30px 0;
}


/* 商品の情報 */
.item-detail__information {
    margin: 40px 0 0 0;
}

.information-status__item {
    display: flex;
    gap: 50px;
}

.information-status__item-title h4 {
    margin: 5px 0 15px 0;
}

.information-status__item-data p {
    margin: 5px 0 15px 20px;
}

.category-tag {
    margin: 5px 0 15px 0;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    background: #d9d9d9;
    border: none;
    padding: 0 15px;
    border-radius: 15px;
    align-items: center;
    margin-right: 10px;
}



/* 商品へのコメント */
.item-detail__comment-title h4 {
    font-weight: bold;
    margin: 30px 0 0 0;
}

.item-detail__comment-textarea textarea {
    margin: 0 0 15px 0;
    padding: 15px;
    width: 100%;
    height: 150px;
    border: 1px solid #828282;
    border-radius: 3px;
    outline: none;
}


/* コメントしたユーザー情報 */
.comment-item-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
}

.comment-user {
    height: 50px;
    width: 50px;       
}

.comment-user img {
    border: none;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.comment-user span {
    border: none;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
}

.comment-user-name span {
    font-weight: bold;
}

.comment-count {
    color: #5f5f5f;
    font-weight: bold;
    font-size: 22px;
}

.comment-body {
    background: #e5e5e5;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-top: 30px;
}


.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    font-weight: bold;
}

/* 購入手続きボタン */
.item-detail__buy-btn {
    width: 100%;
    height: 40px;
}

.item-detail__buy-btn a {
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.item-detail__buy-btn button {
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}



/* コメント送信ボタン */
.item-detail__comment-btn { 
    margin: 20px 0;
    width: 100%;
    height: 40px;
}

.item-detail__comment-btn-submit {
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.item-detail__comment-btn a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}