.show-content {
    max-width: 1230px;
    padding: 10px;
    margin: 0 auto;
}

.show-content__item {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}



/* 商品画像 */
.show-content__item-img {
    width: 50%;
}



/* 商品の詳細 */
.show-content__form {
    width: 50%;
}

.item-detail {
    width: 100%;
}


/* 商品名 */
.item-detail__title h2 {
    margin: 30px 0 0 0;
}

.item-detail__brand p {
    margin: 0;
    font-size: 10px;
}


/* 金額 */
.item-detail__price p {
    margin: 5px 0 0 0;
}


/* いいね・コメントロゴ */
.item-detail__heart-comment p {
    margin: 5px 0 10px 0;
}


/* 商品説明 */
.item-detail__explain {
    margin: 30px 0;
}


/* 商品の情報 */
.item-detail__information {
    margin: 40px 0 0 0;
}



/* 商品へのコメント */
.item-detail__comment-title p {
    font-weight: bold;
    margin: 30px 0 0 0;
}

.item-detail__comment-textarea textarea {
    margin: 0 0 15px 0;
    padding: 15px;
    width: 100%;
    height: 150px;
    border: 1px solid #828282;
    border-radius: 3px;
    outline: none;
}

/* 購入手続きボタン */
.item-detail__buy-btn {
    width: 100%;
    height: 40px;
}

.item-detail__buy-btn a {
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}



/* コメント送信ボタン */
.item-detail__comment-btn { 
    margin: 20px 0;
    width: 100%;
    height: 40px;
}

.item-detail__comment-btn-submit {
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

