.show-content {
    max-width: 1230px;
    padding: 10px;
    margin: 0 auto;
}

.show-content__goods {
    width: 90%;
    display: flex;
    justify-content: space-between;
}


/* 商品画像 */
.show-content__goods-img {
    width: 50%;
}



/* 商品の詳細 */
.show-content__goods-detail {
    width: 50%;
}




.goods-title h3 {
    margin: 30px 0 0 0;
}

.goods-brand p {
    margin: 0;
    font-size: 10px;
}

.goods-price p {
    margin: 5px 0 0 0;
}

.goods-heart-comment p {
    margin: 5px 0 10px 0;
}

.goods-comment-title p {
    margin: 10px 0 0 0;
}




/* コメントtextarea */
.gooods-comment__textarea textarea {
    margin: 0 0 15px 0;
    padding: 15px;
    width: 100%;
    height: 150px;
    border: 1px solid #828282;
    border-radius: 3px;
    outline: none;
}

/* 購入手続きボタン */
.goods-buy__btn {
    width: 100%;
    height: 40px;
}

.goods-buy__btn a {
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}



/* コメント送信ボタン */
.goods-comment__btn { 
    width: 100%;
    height: 40px;
}

.goods-comment__btn a {
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

