.verify-content {
    max-width: 1230px;
    padding: 10px;
    margin: 0 auto;
}

.verify-message {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

.verify-form {
    width: 160px;
    height: 40px;
    margin: 40px auto;
}

.verify-form button {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    background: #d9d9d9;
    cursor: pointer;
}


.verify-resend {
    width: 50%;
    height: 40px;
    margin: 40px auto;
    text-align: center;
}

.verify-resend p {
    text-decoration: none;
    font-size: 13px;
    color: #0073cc;
    cursor: pointer;
}

