.trade-content {
    display: flex;
    height: calc(100vh - 62px);
}

.left {
    width: 15%;
    background: #868686;
}

/* 左半分 */
.left p {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.other-trade-item {
    text-align: center;
    text-decoration: none;
    height: 30px;
}

.other-trade-item a {
    line-height: 30px;
    display: inline-block;
    width: 80%;
    text-decoration: none;
    color: #000000;
    background-color: #eeefeb;
    border: none;
    border-radius: 5px;
}


/* 右半分 */
.right {
    width: 85%;
}

.trade-header {
    display: flex;
    justify-content: space-between;
    height: 15%;
    border-bottom: 1.5px solid #868686;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-user-image img {
    display: inline-block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin: 3px 15px;
}

.header-user-image p {
    display: inline-block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #d9d9d9;
    object-fit: cover;
    margin: 3px 15px;
}

.header-text {
    font-size: 25px;
    font-weight: bold;
}

.trade-button-form {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.trade-button-inner {
    padding: 10px;
    background: #ff8282;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

/* 商品 */
.item {
    display: flex;
    height: 25%;
    border-bottom: 1.5px solid #868686;
}

.item-image img {
    width: 100%;
    height: 100%;
    padding: 8px 20px;
}

.item-inner {
    display: flex;
    flex-direction: column;
}

.item-name {
    font-size: 30px;
    font-weight: bold;
    padding-top: 1.5rem;
}

.item-price {
    padding-top: 0.5rem;
    font-size: 20px;
}


/* チャット */
.chat {
    height: 45%;
    padding: 0 20px;
    overflow-y: auto;
}


.my-message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.my-message-user-inner,
.other-message-user-inner {
    display: flex;
    align-items: center;
}

.my-message-user-image img {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 3px 0 3px 15px;
}

.other-message-user-image img {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 3px 15px 3px 0;
}

.my-message-user-image p {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    border: none;
    margin: 3px 0 3px 15px;
}

.other-message-user-image p {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    border: none;
    margin: 3px 15px 3px 0;
}

.my-message-user-name,
.other-message-user-name {
    font-weight: bold;
}

.my-message-bubble,
.other-message-bubble {
    width: 300px;
    background: #d9d9d9;
    border: none;
    border-radius: 3px;
    min-height: 30px;
    word-wrap: break-word;
    white-space: normal;
    padding: 0 5px;
}

.my-message-image,
.other-message-image {
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}

.button-flex {
    display: flex;
}

.delete-button,
.update-button {
    border: none;
    background: #ffffff;
    color: #5f5f5f;
    text-shadow: 0 4px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    margin: 0;
}

/* メッセージ入力 */
.form__error {
    height: 5%;
    color: #ff0000;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.input {
    display: flex;
    align-items: center;
    height: 10%;
}

.input-item {
    width: 75%;
    height: 40px;
    margin-left: 10px;
    border: 1px solid #7b7b7b;
    border-radius: 3px;
    color: #7b7b7b;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    padding: 5px;
}

.image-input {
    display: none;
}

.image-label {
    border: 1.5px solid #ff5555;
    border-radius: 5px;
    padding: 5px 20px;
    height: 40px;
    cursor: pointer;
    color: #ff5555;
    font-weight: bold;
    font-size: 16px;
    margin: 0 10px;
}

.input-logo {
    background: none;
    border: none;
    width: 10%;
    outline: none;
    cursor: pointer;
}

.input-logo img {
    display: block;
    width: 70%;
    height: 70%;
    border: none;
}


/* モーダル */
.modal {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-inner {
    width: 400px;
    height: 250px;
    background: #fdfce6;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #000000;
    padding: 0;
}

.modal-title {
    border-bottom: 1px solid #000000;
    height: 20%;
    text-align: left;
    padding-left: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

/* 星 */
.modal-star {
    border-bottom: 1px solid #000000;
    height: 60%
}

.star-text {
    color: #868686;
    text-align: left;
    padding-left: 20px;
}

.star-text p{
    margin: 7px 0;
}

.modal-star-inner {
    direction: rtl;
    font-size: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.modal-star-inner input {
    display: none;
}

.modal-star-inner label {
    color: #D9D9D9;
    cursor: pointer;
}

.modal-star-inner input:checked ~ label {
    color: #FFF048;
}

.modal-star-inner label:hover,
.modal-star-inner label:hover ~ label{
    color: #FFF048;
}

.modal-button {
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-button-inner {
    background: #ff8282;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

/* * {
    border: 1px solid red;
} */