.edit-content {
    max-width: 1230px;
    padding: 10px;
    margin: 0 auto;
}

.edit-header h2 {
    text-align: center;
}

/* フォーム */
.edit-form {
    width: 40%;
    margin: 0 auto;
}



/* 画像フォーム */
.edit-form__img-set {
    display: flex;
    align-items: center;
}

/* プロフ画像 */
.edit-form__img {
    height: 100px;
    width: 100px;
}

.edit-form__img img {
    border: none;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}


/* 選択ボタン */
.edit-form__img-select-btn {
    display: flex;
    align-items: center;
    margin-left: 20px;
    border: 1.5px solid #ff5555;
    border-radius: 5px;
    padding: 5px 10px;
    height: 40px;
    
}
.edit-form__img-select-btn label {
    cursor: pointer;
    color: #ff5555;
    font-weight: bold;
}

.custum-input {
    display: none;
}



/* ユーザー名・郵便番号・住所・建物名　共通 */
.edit-form__name-title p ,
.edit-form__postal-code-title p ,
.edit-form__address-title p ,
.edit-form__building-title p {
    font-weight: bold;
    margin: 25px 0 3px 0;
}


/* input　共通 */
.edit-form__name-input,
.edit-form__postal-code-input,
.edit-form__address-input,
.edit-form__building-input {
    height: 40px;
}

.edit-form__name-input input,
.edit-form__postal-code-input input,
.edit-form__address-input input,
.edit-form__building-input input {
    width: 100%;
    height: 100%;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    outline: none;
}


/* 更新ボタン */
.edit-form__update-btn {
    width: 100%;
    height: 40px;
    margin: 40px 0;
}

.edit-form__update-btn-submit {
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
