.mypage-content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}


/* プロフィール */
.mypage-profile {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}


/* プロフィール編集ボタン */
.mypage-profile__btn {
    margin-left: 350px;
    border: 1.5px solid #ff5555;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 10px;
}

.mypage-profile__btn a {
    color: #ff5555;
    text-decoration: none;
    font-weight: bold;
}

* {
    border: 1px solid red;
}