

/* プロフィール */
.mypage-profile {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

/* プロフィール画像 */
.mypage-profile__img {
    height: 100px;
    width: 100px;
}

.mypage-profile__img img {
    border: none;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.mypage-profile__img p {
    line-height: 100px;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0;
}


/* プロフィール編集ボタン */
.mypage-profile__btn {
    display: flex;
    align-items: center;
    margin-left: 100px;
    border: 1.5px solid #ff5555;
    border-radius: 5px;
    padding: 5px 10px;
    height: 40px;
}

.mypage-profile__btn a {
    color: #ff5555;
    text-decoration: none;
    font-weight: bold;
}



/* 出品・購入した商品リンクボタン */
.mypage-item {
    display: flex;
    padding: 30px 5px 5px 80px;
    border-bottom: 1.5px solid #646464;
}

.mypage-sell-item a,
.mypage-sold-item a {
    text-decoration: none;
    cursor: pointer;
    color: #5f5f5f;
    font-weight: bold;
}

.mypage-sell-item:hover a,
.mypage-sold-item:hover a {
    color: #ff0000;
}

.mypage-sell-item {
    margin-right: 50px;
}


