


/* プロフィール */
.mypage-profile {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 60%;
}


/* プロフィール編集ボタン */
.mypage-profile__btn {
    margin-left: 350px;
    border: 1.5px solid #ff5555;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 10px;
}

.mypage-profile__btn a {
    color: #ff5555;
    text-decoration: none;
    font-weight: bold;
}



/* 出品・購入した商品リンクボタン */
.mypage-item {
    display: flex;
    padding: 30px 5px 5px 80px;
    border-bottom: 1.5px solid #646464;
}

.mypage-sell-item a,
.mypage-sold-item a {
    text-decoration: none;
    cursor: pointer;
    color: #5f5f5f;
    font-weight: bold;
}

.mypage-sell-item:hover a,
.mypage-sold-item:hover a {
    color: #ff0000;
}

.mypage-sell-item {
    margin-right: 50px;
}



* {
    border: 1px solid red;
}