.header {
    background: #000;
}



.header__inner {
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo img {
    color: #fff;
    width: 300px;
    height: auto;
}

.header__utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__utilities nav {
    width: 70%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 検索 */
.header-nav__item-search {
    width: 50%;
}


.header-nav__search-input {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: #000;
    padding: 0 20px;
    outline: none;
}


/* マイページボタン */
.header-nav__link {
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

/* ログアウトボタン */
.header-nav__button {
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}


/* 出品ボタン */
.header-nav__link-exhibit {
    border: none;
    border-radius: 3px;
    color: #000;
    background: #fff;
    padding: 8px 20px;
    text-decoration: none;
}