.address-content {
    max-width: 1230px;
    padding: 10px;
    margin: 0 auto;
}

.address-header h2 {
    text-align: center;
}


/* フォーム */
.address-form {
    width: 50%;
    margin: 0 auto;
}

.address-form__title {
}

.address-form__title p {
    margin: 40px 0 5px 0;
    font-weight: bold;
}

.address-form__input {
    height: 40px;
}

.address-form__input input {
    width: 100%;
    height: 100%;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    outline: none;
}

.address-form__button {
    width: 100%;
    height: 40px;
    margin: 55px 0;
}

.address-form__button-submit {
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
